<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="navbar">
 <!-- <a href="page2.html" target="targetframe">Link to Page 2</a><br /> -->
  <a href="items" style="color: blue">ITEM</a>
  <a href="#news" style="color: blue">AGREEMENT</a>
  <div class="dropdown" >
    <button class="dropbtn" style="color: blue">UTILITIES 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#" style="color: red ">Bill</a>
      <a href="#">TRANSACTION</a>
      <a href="#">Link</a>
    </div>
  </div> 
</div>
</body>
<link rel="stylesheet" href="css/app/app.css" />
</html>
