<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Received Item</title>
 
</head>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script>
$(function(){
  $("#header").load("header"); 
 // $("#footer").load("footer.html"); 
});
</script>

<body ng-app="demo">
<div id="header"></div>
<!--Remaining section-->
	<hr />
<div ng-app="MyApp" ng-controller="ItemController">

      
<div id="main">
	<div class="container" ng-controller="ItemController">
	<div align="right" style="width: 76%; height: auto ">
	<button ng-click="saveReceivedItem()" class="btn btn-sm btn-info" >Save</button>
	<a href="itemList" class="btn btn-sm btn-info" ng-click="print()">Print</a>
	</div>
	<br><br>
<div class="row">
<h1 style=" display: block;
    font-size: 3em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0.7em;
    margin-right: 0em;
    font-weight: bold;
    background-color:orange;
    color:green;">** ITEM RECEIVED **</h1>
    	<!-- <div ng-app="MyApp" ng-controller="ItemController"> -->
<div class="container">
  <form class="form-group">
    <div class="form-group col-xs-3" >
      <label for="usr">Date:</label>
      <input type="date" id ="receivedDate" ng-model="itemReceivedDto.receivedDate"  class="form-control input-sm"  placeholder="Select Date" height="50" width="50"/>
    </div>
    <div class="form-group col-xs-3">
   			<label>Transaction type</label> 
			<select id ="transactionType" ng-model="itemReceivedDto.transactionType" class="form-control input-sm">
 				<option value="received" >Received</option>
			</select>
    </div>
    <div class="form-group col-xs-3">
      <label>Challan No</label> 
	  <input type="text" id ="challanNo" ng-model="itemReceivedDto.challanNo" class="form-control input-sm" placeholder="Enter Challan No" />
    </div>
    
     <div class="form-group col-xs-3">
     <label >Party Name</label>
    		<select ng-model="itemReceivedDto.partyName"  ng-options="account for account in accountNames" class="form-control input-sm" ng-click="getIssuedAccountNames()" >
    		<option value="">Select Account</option>
    		<option value="itemReceivedDto.partyName">{{account}}</option>
			</select>
     </div>
     <div class="form-group col-xs-3">
     <label >Father Name</label>
    		<select ng-model="itemReceivedDto.fatherName"  ng-options="accountFatherName for accountFatherName in accountFatherNames"  class="form-control input-sm" ng-click="getIssuedAccountFatherNames(itemReceivedDto.partyName)" >
    		<option value="">Select Account</option>
    		<option value="itemReceivedDto.fatherName">{{accountFatherName}}</option>
			</select>
     </div>
     <div class="form-group col-xs-3">
     <label>Item Name</label> 
			<select ng-model="itemReceivedDto.itemName"  ng-options="item for item in itemNames" ng-click="getIssuedItemNames()"  class="form-control input-sm">
    		<option value="">Select Item</option>
    		<option value="itemReceivedDto.itemName">{{item}}</option>
			</select>
     </div>
      <div class="form-group col-xs-3">
      <label>Size</label> 
			<select ng-model="itemReceivedDto.size"  ng-options="item for item in itemSizes" ng-click="getIssuedItemSizes(itemReceivedDto.itemName)"  class="form-control input-sm">
    		<option value="">Select Size</option>
    		<option value="itemReceivedDto.size">{{item}}</option>
			</select> 
     </div>
      <div class="form-group col-xs-3">
      <label>Quantity</label>
			<input type="text" id ="quantity" ng-model="itemReceivedDto.quantity"   placeholder="Enter Item Quantity"  class="form-control input-sm"/>
			
     </div>
      <div class="form-group col-xs-3">
       <label>Site</label> 
			<select ng-model="itemReceivedDto.site"  ng-options="site for site in sites" ng-click="getIssuedItemSites(itemReceivedDto.partyName,itemReceivedDto.fatherName)"  class="form-control input-sm">
    			<option value="">Select Site</option>
    			<option value="itemReceivedDto.site">{{site}}</option>
		   </select>
     </div>
     <div class="form-group col-xs-3">
     <label>Mobile</label>
			<input type="text" id ="mobile"  class="form-control input-sm" ng-model="itemReceivedDto.mobile"  placeholder="Enter Mobile " /> 
			
     </div>
     <div class="form-group col-xs-3">
     <label>Remarks</label>
			<input type="text" id ="remarks" ng-model="itemReceivedDto.remarks"  class="form-control input-sm" placeholder="Enter Remarks"  />
     </div>
     
     <!-- new added -->
     <div class="form-group col-xs-3">
     <label>Breakage</label>
			<input type="text" id ="remarks" ng-model="itemReceivedDto.breakage"  class="form-control input-sm" placeholder="Enter Breakage"  />
     </div>
     <div class="form-group col-xs-3">
     <label>Shortage</label>
			<input type="text" id ="remarks" ng-model="itemReceivedDto.shortage"  class="form-control input-sm" placeholder="Enter Shortage"  />
     </div>
     <div class="form-group col-xs-3">
     <label>Excess Qty</label>
			<input type="text" id ="remarks" ng-model="itemReceivedDto.excessQuantity"  class="form-control input-sm" placeholder="Enter ExcessQuantity"  />
     </div>
  </form>
</div>
    		<br>
    		<button style="position: static;" ng-click="AddReceivedItem()" class="btn btn-sm btn-info"> + ADD ITEM</button>
    		<!-- <button style="position: static;" ng-click="addIssuedItem(itemReceivedDto)" class="btn btn-sm btn-info">Add Item</button> -->
    		<br><br>
        	<table class="table">
            <tr>
                <th width="135">Party Name</th>
                <th width="135">Father Name</th>
                <th width="135">Item Name</th>
                <th width="135">Size</th>
                <th width="135">Quantity</th>
                <th width="135">Site</th>
                <th width="135">Mobile</th>
                <th width="135">Shortage</th>
                <th width="135">Breakage</th>
                <th width="135">ExcessQuantity</th>
                <th width="135">Remarks</th>
                <th width="70">Action</th>
            </tr>
            <tbody ng-repeat="itemReceived in ReceivedItems">
                <tr>
                    <td>{{itemReceived.partyName}}</td>
                    <td>{{itemReceived.fatherName}}</td>
                    <td>{{itemReceived.itemName}}</td>
                    <td>{{itemReceived.size}}</td>
                    <td>{{itemReceived.quantity}}</td>
                    <td>{{itemReceived.site}}</td>
                    <td>{{itemReceived.mobile}}</td>
                    <td>{{itemReceived.shortage}}</td>
                    <td>{{itemReceived.breakage}}</td>
                    <td>{{itemReceived.excessQuantity}}</td>
                    <td>{{itemReceived.remarks}}</td>
                    <td><input type="button" ng-click="Remove($index)" value="Remove" /></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                </tr>
            </tfoot>
        </table>
    </div>
			 
		</div>
	</div>
</div>
<div id="footer"></div>
</body>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/UserController.js"></script>
<script src="js/app/UserService.js"></script>
<script src="js/app/ItemController.js"></script>
<script src="js/app/ItemService.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css" />
<link rel="stylesheet" href="css/app/app.css" />
</html>